<input type="text" placeholder="What's the name of your channel?" class="name"
       data-ng-model="channels.current.name"
       data-ng-focus="active = true;"
       data-ng-blur="active = false;channels.commit(channels.current);"
       data-ng-class="{'strong': !active}"/>
<img src="/images/trash.png" class="trash icon" data-ng-click="channels.delete(channels.current);"/>
<div data-file-dropper="channels.current"></div>
<div class="messages">
	<div class="message" data-ng-repeat="m in channels.current.messages | orderBy: 'date' track by $index">
		<div class="info" title="{{m.date | date:config.gui.dateFormats.messageTooltip}} by {{m.userName}}">
			{{m.userName}} [<span ng-bind="m.date | literalDate:config.gui.dateFormats.message"></span>]
		</div>
		<div data-message-viewer="m" class="message-viewer"></div>
	</div>
</div>
<div data-message-editor="channels.current" data-on-submit="channels.commitMessage(channel);" class="message-editor"></div>